@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        border: 1px solid black;
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: .25em;
        margin: .25em;
        // height: 15em;
        overflow-y: hidden;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 600);
@include gridify(3, 800);
@include gridify(4, 1024);

/**
 * GENERAL
 */


body {
    transition: opacity .25s ease;
}
.header {
    & > * {
        text-align: center;
    }
}
.list_pics {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.list_container {
    & > * {
        display: inline-block;
        font-size: 0;
    }
    & > *:nth-child(2) {
        font-size: 1rem;
        text-align: left;
        width: 49%;
    }
    & > *:nth-child(3) {
        font-size: 1rem;
        text-align: right;
        width: 49%;
    }
}