@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        border: 2px solid black;
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: .25em;
        margin: .25em;
        // height: 15em;
        // overflow-y: hidden;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(3, 600);
@include gridify(4, 800);
@include gridify(5, 1024);

/**
 * GENERAL
 */


body {
    transition: opacity .25s ease;
    background-color: whitesmoke;
    font-family: "Lato", sans-serif;
}
.title {
    width: 100%;
    display: inline-block;
    padding: .5em;
    background-color: red;
    color: white;
    border-bottom: 1px solid maroon;
}
.header {
    & > * {
        text-align: center;
    }
}
#form {
    display: block;
    text-align: center;
}
#filter {
    display: block;
    text-align: center;
    & > * {
        display: inline-block;
    }
}
.list_pics {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: black;
    &:visited {
        color: red;
        background-color: whitesmoke;
    }
    &:hover {
        border: 3px solid red;
    }
}
.list_container {
    & > * {
        display: inline-block;
        font-size: 0;
    }
    & > *:nth-child(2) {
        font-size: 1rem;
        text-align: left;
        width: 49%;
    }
    & > *:nth-child(3) {
        font-size: 1rem;
        text-align: right;
        width: 49%;
    }
}
.header > * {
    display: inline-block;
    text-align: left;
}
#feeds {
    position: relative;
    width: 100%;
    text-align: center;

    & > .detailer {
        opacity: 0;
        display: inline-block;
        z-index: 1;
        position: absolute;
        max-width: 800px;
        margin: auto;
        background-color: whitesmoke;
        border: 5px solid black;
        border-radius: 10px 10px;
        top: 3em;
        // height: 40em;
        // overflow-y: auto;
        right: 0;
        left: 0;

    }
}
.dview {
    position: relative;
    padding: .5em;
    & > h2 {
        text-align: center;
    }
    & > .quantity, .price_cur {
        display: inline-block;
        font-size: 2.5em;
        font-weight: bold;
        margin: 0 auto;
    }
    & > .link {
        padding: .25em;
        text-indent: 0;
        font-weight: bold;
        font-size: 1.75em;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
        border: 1px solid black;
        &:hover {
            background-color: black;
            color: white;
            & > a {
                color: white;
                border: none;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    & > .description {
        text-align: left;
    }
 
    & > img {
        max-width: 100%;
    }  
}
#goBack {
    position: absolute;
    top: 50%;
    left: 1em;
}
#goNext {
    position: absolute;
    top: 50%;
    right: 1em;
}
#quit {
    position: absolute;
    top: -2.5em;
    right: -1.75em;
    padding: 1em;
    height: 4em;
    width: 4em;
    border-radius: 100%;
    border: 3px solid red;
    background-color: whitesmoke;
}